// Fonts
$project-font: 'Space Mono';


// font size
$font-size: 16px;


// line height
$line-height: 1.5;


// container width
$container-width: 1121px;


// colors
$yellow: #FCB72B;
$dark: #495567;
$grey:#939CAA;
$light-grey:#E5ECF4;
$snow:#F2F5F9;
$light-yellow:#FFF4DF;

